@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #2b2b2b;
  --foreground: #ededed;
}

body {
  background-color: #008080;
  /* Windows 95 Teal */
  color: var(--foreground);
  font-family: 'ms_sans_serif', 'Arial', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-font-smoothing: none;
  /* Crisper pixel fonts */
}

/* Scrollbar hiding functionality */
::-webkit-scrollbar {
  display: none;
}